<h1><%= @list.name %></h1>

<div class="list-details">
  <% if @list.image_url.present? %>
    <div class="list-poster">
      <%= image_tag @list.image_url, alt: @list.name, class: "list-poster-image" %>
    </div>
  <% end %>
</div>

<p><strong>Movies in this list:</strong></p>

<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li>
      <%= link_to bookmark.movie.title, movie_path(bookmark.movie) %>
      <p><%= bookmark.comment %></p>
      <%= link_to 'Remove', bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    </li>
  <% end %>
</ul>

<%= link_to 'Back to Lists', lists_path, class: "btn" %>

<h2>Add a movie to this list</h2>

<%= form_with(model: [@list, @list.bookmarks.build], local: true) do |form| %>
  <div class="field">
    <%= form.label :movie_id %>
    <%= form.collection_select :movie_id, Movie.all, :id, :title %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_field :comment %>
  </div>

  <div class="actions">
    <%= form.submit 'Add Movie', class: "btn" %>
  </div>
<% end %>

<%= link_to 'Back to Lists', lists_path, class: "btn" %>
